DATABASE_URL="postgresql://user:password@localhost:5432/cart_attack"
AUTH_SECRET="<your-auth-secret-here>"

# Nodemailer Setup for Forgot Password flow
SMTP_HOST="your-host"
SMTP_PORT= # SMTP PORT
SMTP_USER="email@example.com"
SMTP_PASS="16 digit Google App Password"
RESET_TOKEN_EXP="Reset Password link expiry time in milliseconds"
APP_URL="reset password redirect url for emails"

# Sign in with Google
GOOGLE_CLIENT_ID="your-google-client-id"
GOOGLE_CLIENT_SECRET="your-google-client-secret"

# Cloudinary image uploads
CLOUDINARY_CLOUD_NAME="your-cloud-name"
CLOUDINARY_API_KEY="your-api-key"
CLOUDINARY_API_SECRET="your-api-secret"
