DATABASE_URL="db-url"
REDIS_URL="redis-url"
SMTP_HOST="smtp.gmail.com"
SMTP_PORT=587
SMTP_USER="your-email@example.com"
SMTP_PASS="your-email-app-password"
APP_URL="url-for-main-server"
ORDER_CANCELLATION_INTERVAL_MINUTES=15
JOB_SCHEDULER_SECRET="secret-value"
NGROK_AUTHTOKEN=""
NGROK_DOMAIN=""
TEMPLATE_GENERATION_INTERVAL_HOURS=1 # default 6
APP_ENV="dev" # use 'production' for live env
